<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
	td {padding-right: 5px;}
</style>

<div ng-app="">

<form>

<h3>Sheet settings</h3>
<table style="padding-left: 5px;"> 
	<tr>
		<td>Row first grade</td>
		<td><input type="text" id="rowFirstData" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	
	<tr>
		<td>Col first competence</td>
		<td><input type="text" id="colFirstGrade" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	
	<tr>
		<td>Col last competence</td>
		<td><input type="text" id="colLastGrade" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	
	<tr>
		<td>Col with usernames (Gmail address)</td>
		<td><input type="text" id="spalteUsernamen" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	
	</table>
<h3>Ratings 
  <button ng-click="showRatings=true" ng-hide="showRatings">Expand</button> 
  <button ng-click="showRatings=false" ng-show="showRatings">Hide</button> 
</h3>
	<table style="padding-left: 5px;" ng-show="showRatings"> 
	<tr>
		<td>Minimum points</td>
		<td><input type="text" id="punkteMin" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	<tr>
		<td>Maximum Points</td>
		<td><input type="text" id="punkteMax" style="width: 40px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>	
	<!-- <tr>
		<td>Bewertungsmethode</td>
		<td>
			<select id="noten" onchange="onSettingsChange()">
				<option value="true">Noten</option>
				<option value="false">Punkte</option>
			</select>
		</td>
	</tr> -->
	</table>
<h3>Additional settings 
  <button ng-click="showAdditional=true" ng-hide="showAdditional">Expand</button> 
  <button ng-click="showAdditional=false" ng-show="showAdditional">Hide</button> 
</h3>
<table style="padding-left: 5px;" ng-show="showAdditional"> 
	<tr>
		<td>Name Template</td>
		<td><input type="text" id="nameVorlage" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	<tr>
		<td>Marker delete candidate</td>
		<td><input type="text" id="deletionMarker" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
	<tr>
		<td>Name Evaluation</td>
		<td><input type="text" id="sheetAuswertungName" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
    <tr>
		<td>Name points to achieve</td>
		<td><input type="text" id="maxPointsText" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
    <tr>
		<td>Name sum rating</td>
		<td><input type="text" id="endRatingText" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
    <tr>
		<td>Name rated Students</td>
		<td><input type="text" id="ratedPersonText" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
    <tr>
		<td>Name Competences</td>
		<td><input type="text" id="competencesText" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
    <tr>
		<td>Name Rating per Competence</td>
		<td><input type="text" id="averageRatingText" style="width: 60px;" onkeyup="onSettingsChange()" onchange="onSettingsChange()"></td>
	</tr>
 </table>
    
<table style="padding-left: 5px;"> 
	<tr>
		<td><button type="button" onClick="generateSheets()" id="shettGenButton" class="create">Run Sheet Generation</button></td>
		<td><button type="button" onClick="saveSettings()" id="saveButton" disabled="true">Save</button></td>
	</tr>	
</table>
</form>
 
  
</div>    
<div id='result'></div>
<script>
getSettings();
function setSettings(settings){
	  document.getElementById("colFirstGrade").value = ((settings['colFirstGrade']).toString());
	  document.getElementById("colLastGrade").value = ((settings['colLastGrade']).toString());
	  document.getElementById("spalteUsernamen").value = settings['spalteUsernamen'];
	  document.getElementById("rowFirstData").value = settings['rowFirstData'];
	  document.getElementById("punkteMin").value = settings['punkteMin'];
	  document.getElementById("punkteMax").value = settings['punkteMax'];
// 	  document.getElementById("noten").value = settings['noten'];
	  document.getElementById("nameVorlage").value = settings['nameVorlage'];
	  document.getElementById("deletionMarker").value = settings['deletionMarker']; 
	  document.getElementById("sheetAuswertungName").value = settings['sheetAuswertungName']; 
      document.getElementById("maxPointsText").value = settings['maxPointsText']; 
      document.getElementById("endRatingText").value = settings['endRatingText']; 
      document.getElementById("ratedPersonText").value = settings['ratedPersonText']; 
      document.getElementById("competencesText").value = settings['competencesText']; 
      document.getElementById("averageRatingText").value = settings['averageRatingText']; 
}
function getSettings() {
	
        google.script.run.withSuccessHandler(setSettings).getSettings();
}
      
function saveSettings() {
		var saveSettings = new Object();
		saveSettings['colFirstGrade'] = document.getElementById("colFirstGrade").value;
		saveSettings['colLastGrade'] = document.getElementById("colLastGrade").value;
		saveSettings['spalteUsernamen'] = document.getElementById("spalteUsernamen").value;
		saveSettings['rowFirstData'] = document.getElementById("rowFirstData").value;
		saveSettings['punkteMin'] = document.getElementById("punkteMin").value;
		saveSettings['punkteMax'] = document.getElementById("punkteMax").value;
// 		saveSettings['noten'] = document.getElementById("noten").value;
		saveSettings['nameVorlage'] = document.getElementById("nameVorlage").value;
		saveSettings['deletionMarker'] = document.getElementById("deletionMarker").value;
		saveSettings['sheetAuswertungName'] = document.getElementById("sheetAuswertungName").value;
        saveSettings['maxPointsText'] = document.getElementById("maxPointsText").value;
        saveSettings['endRatingText'] = document.getElementById("endRatingText").value;
        saveSettings['ratedPersonText'] = document.getElementById("ratedPersonText").value;
        saveSettings['competencesText'] = document.getElementById("competencesText").value;
        saveSettings['averageRatingText'] = document.getElementById("averageRatingText").value;
        google.script.run.saveDocumentProperties(saveSettings);
        document.getElementById("saveButton").disabled = true;
        document.getElementById("shettGenButton").disabled = false;
}
function onSettingsChange(){
	document.getElementById("saveButton").disabled = false;
	document.getElementById("shettGenButton").disabled = true;
	
	
}
function auswertung() {
    
}
function generateSheets() {
	var div = document.getElementById('result');
    div.innerHTML = '<div> Running...<br><img src="https://lh3.googleusercontent.com/EBdoICM79nLvDyKJmCLtgnfdBIJbQyCxZlTupaA-bEdx5vGK9_C8XOoBswkupLwFvqMyhV7ldrJGI1vZU9jBaFxj7QmJWUc_NKx3P_iH6bLAYHsn_HrchBrP915CYX1Y5UUtxO2afFMUC5aCNN0LdXgC51VPg2zVEvsBwqYNoNDO6orW4OMa4rl38GVYHpgxFZ2qYFt5ZFdr_GkW6RovGbwYM1dC5ynZLnufB2rblHmR7KNybmfuAaP-bxBL5I6v05RDnDhL3yv5Hxge_sQgq3G-xyAvp2UYvdCJl5PuJMMQ95OinWy1QwiOWrRdu58pihAhJcdCGZhZDYhDc4XM0MnKVad-OK0SgK8Tgbhr75BTiAOmKFXCuhk0qbMmILu5Xhd8nWiQsgMq2Z_Fx32JxaQLszpxTC27-2-UVJLzr8sqljeEMyNo8j2vSi0q5H3G2izriMOmZRbCymYF-nMdHBv63gRkrlFRuenJFA18kVhbrBVfhMNcrixsJZXLe4qKC2crElvr9BFSgi9x_QUFwiMVhRFbmY0hEGQg9JQbS-BAzpPKi3sw19WNaQ1DJBdQz76PMBdc3_WFehcqKqHBtU8arp4BsVZYDRai64QXGbo55eAjng=s96-no"></div>';
    google.script.run
    .withSuccessHandler(onGenerateSheetsSuccess)
    .withFailureHandler(onFailure)
    .generateSheets();
    
    
}
function onGenerateSheetsSuccess() {
	google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .auswertung();
}
function onSuccess() {
    var div = document.getElementById('result');
    div.innerHTML = '<div>Sucess!</div>';
  }
function onFailure(error) {
    var div = document.getElementById('result');
    div.innerHTML = '<div>'+error.message+'</div>';
  }
function clickAction(){
    
    google.script.run
    .withSuccessHandler(onSuccess)
    .withFailureHandler(onFailure)
    .testSpinner();
  }
</script>